@font-face {
	font-family: 'Dharma';
	src: url('DharmaGothicE_ExBold_R.otf')
}

.motif_vert{
    width: 35%;
    position: absolute;
    margin-top: 45px;
    right: 0;
}

.rectangle{
    z-index: 50;
    position: relative;
    background-color: #12232d;
    padding: 90px 60px 70px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight:450;
    border-right: 1px #fff;
    padding-right: 55px;
    margin-top: 150px;
    margin-left: 160px;
    margin-right: -7.9px;
    display: flex;
    justify-content: space-between;
    
}

.texte{
    background-color: #12232d;
    margin-left: 0px;
    line-height: 40px;
    border-right: 1px solid white ;
    width: 800px;
}

.guillemets{
    z-index: 60;
    width: 8%;
    height: 8%;
    position: absolute;
    margin-top: 90px;
    margin-left: 200px;

}

h2{
    text-transform: uppercase;
    font-family: 'Dharma';
    font-style: italic;
    font-size: 60px;
    margin-left: 150px;
    margin-bottom: -20px;
    
}

.vert{
    margin-top: 10%;
}

.etoiles{
    width: 30%;
    list-style-type: none;
    line-height: 30px;
    margin-left: -40px;
}
.etoiles1{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    
}
.etoiles2{
    width: 1.5%;
    margin-left: 30px;
    list-style-type: none;
    position: absolute;
    
}
.etoiles3{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    margin-left: 60px;
    
}
.etoiles4{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    margin-left: 90px;
    
}
.etoiles5{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    margin-left: 120px;
    
}
.texte2{
    margin-right: 240px;
    line-height: 40px;
}

