
.fond_about{
    float: right;
    margin-top: 7%;
    background-color: #EFF2FD;
    color: #DADEED;
    margin-left: 6%;
    position: absolute;
    width: 93%;

}

.lien:hover .img1{
    color: #12d097;
    transform: scale(.8);
    opacity: .7;
}

.lien:hover .titre_1{
    color: black;
}
.lien{
    text-decoration: none;
}



.img1{
    width: 100%;
    aspect-ratio: 1;
}
.lien .img1{
    transition: transform .3s,opacity .3s;
    z-index: 1;
}



.lien .titre_2{
    font-family: "Dharma Gothic I";
    font-style: italic;
    font-size: 58px;
    margin: 10px;
    
    
}

.lien .titre_1{
    width: 85%;
    margin-top: -120px;
    background-color: white;
    color: black;
    position: relative;
    border-left: 4px solid #12d097;
}

.lien .titre_1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #12d097;
    transition: all .35s;
}
.lien .titre_1:hover:after{
    width: 100%;
}
.lien:hover .titre_1{
    margin-top: -120px;
    background-color: white;
    color: black;
    position: relative;
    border-left: 4px solid #12d097;
}
.lien:hover.titre_1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #12d097;
    transition: all .35s;
}
.lien:hover .titre_1:hover:after{
    width: 100%;
}

/**/

.lien2:hover .img2{
    color: #12d097;
    transform: scale(.8);
    opacity: .7;
}

.lien2:hover .titre_1{
    color: black;
}
.lien2{
    text-decoration: none;
    position: absolute;
    margin-left: 36.8%;
    margin-top: 17%;
    width: 22%;
}



.img2{
    width: 350px;
    height: 350px;
}
.lien2 .img2{
    transition: transform .3s,opacity .3s;
    z-index: 1;
}



.lien2 .titre_2{
    font-family: "Dharma Gothic I";
    font-style: italic;
    font-size: 58px;
    margin: 10px;
    
    
}

.lien2 .titre_1{
    width: 292px;
    height: 190px;
    margin-top: -120px;
    background-color: white;
    color: black;
    position: relative;
    border-left: 4px solid #12d097;
}

.lien2 .titre_1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #12d097;
    transition: all .35s;
}
.lien2 .titre_1:hover:after{
    width: 100%;
}
.lien2:hover .titre_1{
    width: 292px;
    height: 190px;
    margin-top: -120px;
    background-color: white;
    color: black;
    position: relative;
    border-left: 4px solid #12d097;
}
.lien2:hover.titre_1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #12d097;
    transition: all .35s;
}
.lien2:hover .titre_1:hover:after{
    width: 100%;
}

/**/


.lien3:hover .img3{
    color: #12d097;
    transform: scale(.8);
    opacity: .7;
}

.lien3:hover .titre_1{
    color: black;
}
.lien3{
    text-decoration: none;
    position: absolute;
    margin-left: 63.5%;
    margin-top: 17%;
    width: 22%;
}



.img3{
    width: 350px;
    height: 350px;
}
.lien3 .img3{
    transition: transform .3s,opacity .3s;
    z-index: 1;
}



.lien3 .titre_2{
    font-family: "Dharma Gothic I";
    font-style: italic;
    font-size: 58px;
    margin: 10px;
    bottom: 0;
    height: 50px;
    
    
}
.lien3 .titre_2{
    font-family: "Dharma Gothic I";
    font-style: italic;
    font-size: 58px;
    height: 50px;
}

.lien3 .titre_1{
    width: 292px;
    height: 190px;
    margin-top: -120px;
    background-color: white;
    color: black;
    position: relative;
    border-left: 4px solid #12d097;
}

.lien3 .titre_1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #12d097;
    transition: all .35s;
}
.lien3 .titre_1:hover:after{
    width: 100%;
}
.lien3:hover .titre_1{
    width: 292px;
    height: 190px;
    margin-top: -120px;
    background-color: white;
    color: black;
    position: relative;
    border-left: 4px solid #12d097;
}
.lien3:hover.titre_1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #12d097;
    transition: all .35s;
}
.lien3:hover .titre_1:hover:after{
    width: 100%;
}

.more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 700;
    opacity: 0.2;
    margin-bottom: 0;
    font-size: 30%;
    letter-spacing: 4px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.more:hover{
    opacity: 1;
}


.numero_un{
    font-size: 350%;
    font-family: "Dharma Gothic I";
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
}

.numero_deux{
    font-size: 350%;
    font-family: "Dharma Gothic I";
    position: absolute;
    margin-left: 36.8%;
    margin-top: 10%;
    border-bottom: 1px solid black;
    width: 350px;
    
}

.numero_trois{
    font-size: 350%;
    font-family: "Dharma Gothic I";
    position: absolute;
    margin-left: 63.4%;
    margin-top: 10%;
    border-bottom: 1px solid black;
    width: 350px;
    
}

.oui{
    z-index: 89;
    background-color: aqua;
}
.black-nb {
    color: black;
    font-size: 60px;
    font-style: italic;
    max-width: 100%;
}
.article-title {
    color: black;
    font-family: "Dharma Gothic I";
    font-size: 60px;
    line-height: 1.05;
    font-weight: 300;
    padding: 30px 10px;
    /* margin-bottom: 40px;*/
}

.title-container {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%)
}

.news-container {

    display: flex;
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 30px;
    gap: 30px;
    justify-content: space-evenly;
    padding-bottom: 75px;
    margin-top: 75px;
}

.news1 {
    max-width: 385px;
}

@media screen and (max-width: 1250px) {
    .news1 {
        max-width: 275px;
    }
    .article-title {
        font-size: 55px;
    }
    .test-section {
        padding: 50px 0 20px;
    }
}
@media screen and (max-width: 950px) {
    .news1 {
        max-width: 275px;
    }
    .black-nb {
        font-size: 55px;
    }
    .news-container {
        max-width: 730px;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 10px;
    }
    .news1 {
        max-width: 314px;
    }
    .test-section, .news-container {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 750px) {
    .news-container {
        flex-direction: column;
        max-width: 100%;
    }
    .news1 {
        max-width: 100%;
    }
    .article-title {
        font-size: 48px;
    }
}

.title-container :first-child {
    position: relative;
    z-index: 5;
}