@font-face {
	font-family: 'Dharma';
	src: url('DharmaGothicE_ExBold_R.otf')
}

.motif_vert{
    width: 35%;
    position: absolute;
    margin-top: 45px;
    right: 0;
}

.rectangle{
    z-index: 50;
    position: relative;
    background-color: #12232d;
    padding: 90px 60px 70px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight:450;
    border-right: 1px #fff;
    padding-right: 55px;
    margin-top: 150px;
    margin-left: 160px;
    margin-right: -7.9px;
    display: flex;
    justify-content: space-between;
    
}

.texte{
    background-color: #12232d;
    margin-left: 0px;
    line-height: 40px;
    border-right: 1px solid white ;
    width: 800px;
}

.guillemets{
    z-index: 60;
    width: 8%;
    height: 8%;
    position: absolute;
    margin-top: 90px;
    margin-left: 200px;

}

.what{
    text-transform: uppercase;
    font-family: 'Dharma';
    font-style: italic;
    font-size: 60px;
    margin-left: 150px;
    margin-bottom: -20px;
}

.vert{
    margin-top: 10%;
}

.etoiles{
    width: 30%;
    list-style-type: none;
    line-height: 30px;
    margin-left: -40px;
}
.etoiles1{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    
}
.etoiles2{
    width: 1.5%;
    margin-left: 30px;
    list-style-type: none;
    position: absolute;
    
}
.etoiles3{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    margin-left: 60px;
    
}
.etoiles4{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    margin-left: 90px;
    
}
.etoiles5{
    width: 1.5%;
    list-style-type: none;
    position: absolute;
    margin-left: 120px;
    
}
.texte2{
    margin-right: 240px;
    line-height: 40px;
}




.titre_3{
    width: auto;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #12232d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insta_feed{
    text-transform: uppercase;
    font-family: 'Dharma';
    font-style: italic;
    font-size: 2.5em;
    margin-left: 0px;
    margin-top: -70px;
    float: left;
    white-space: pre;
}
@media screen and (max-width: 766px) {
    .insta_feed{
        text-transform: uppercase;
        font-family: 'Dharma';
        font-style: italic;
        font-size: 1.8em;
        white-space: pre;
        margin-left: 0px;
        float: left;
    }
  }
.view_all{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-dark-blue);
}
/* @media screen and (max-width: 766px) {
    .view_all{
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        display: flex;
        margin-top: 60px;
        float: right;
        margin-left: 50em;
        margin-right: 160px;
        cursor: pointer;
        
        
    }
  } */

.view_all:hover{
    transition: 0.2s;
    color: aquamarine;
    cursor: pointer;
    
}

.insta_img{
    width: 80%;
    height: 50%;
    margin-left: 160px;
    margin-right: 160px;
    display: inline-block;
}

.img_1{
    width: 280px;
    display: block;

}
/* @media screen and (max-width: 889px) {
    .img_1{
        max-width: 140%;
        width: 120%;
        min-width: 130%;
        display: inline-block;
    }
  }
.insta_img1{
    width: 20%;
    height: 20%;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}
@media screen and (max-width: 889px) {
    .insta_img1{
        width: 20%;
        height: 20%;
        display: inline-block;
        margin-right: 2em;
        cursor: pointer;
    }
  }
  @media screen and (max-width: 1300px) {
    .insta_img1{
        width: 40%;
        height: 20%;
        display: inline-block;
        cursor: pointer;
        margin-right: 1em;
    }
  }
  @media screen and (min-width: 1400px) {
    .insta_img1{
        width: 23%;
        height: 20%;
        display: inline-block;
        cursor: pointer;
        margin-right: 0.5em;
    }
  }
.insta_img2{
    width: 20%;
    height: 20%;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}
@media screen and (max-width: 889px) {
    .insta_img2{
        width: 20%;
        height: 20%;
        display: inline-block;
        margin-right: 2em;
        cursor: pointer;
    }
  }
  @media screen and (max-width: 1300px) {
    .insta_img2{
        width: 40%;
        height: 20%;
        display: inline-block;
        cursor: pointer;
        margin-right: 1em;
    }
  }
  @media screen and (min-width: 1400px) {
    .insta_img2{
        width: 23%;
        height: 20%;
        display: inline-block;
        cursor: pointer;
        margin-right: 1em;
    }
  }
.insta_img3{
    width: 20%;
    height: 20%;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}

.insta_img4{
    width: 40%;
    height: 20%;
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;

    
} */


.section-instagram {
    background-color: #eff2fd;
    padding: 75px 0;
}
.instagram-content {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 30px;
}
.section-instagram .titre_3, .insta_img {
    margin: 0;
}
.insta-img-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 25px 0;
}
.section-instagram h2 {
    margin-bottom: 15px;
}

@media screen and (max-width: 1250px) {
    .insta-img-container {
        flex-wrap: wrap;
        gap: 10px;
    }
    .instagram-content {
        max-width: 940px;
    }
}
@media screen and (max-width: 950px) {
    .img_1 {
        width: 320px;
    }
    .instagram-content {
        max-width: 720px;
    }
}
@media screen and (max-width: 750px) {
    .img_1 {
        width: 100%;
    }
    .instagram-content {
        max-width: 100%;
    }
}