@font-face {
    font-family: "Dharma Gothic I";
    src: url(../fonts/DharmaGothicE_ExBold_R.otf);
}

:root {
    --color-light-green: #42e19b;
    --color-dark-blue: hsl(202, 43%, 12%);
    --color-darker-blue: #0e1b22;
}

*{
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
}
html, body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--color-dark-blue);
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
header {
    position: fixed;
    background-color: var(--color-dark-blue);
    height: 0;
    width: 0;
    z-index: 11;
}
nav {
    height: 100%;
    padding: 20px 23px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
    transition: height .2s ease;
}
.logo {
    height: 100%;
    max-height: 90px;
    cursor: pointer;
}
.nav-right {
    display: flex;
}
svg {
    height: 100%;
}
svg path {
    transition: .2s ease
}
svg:hover path{
    fill: var(--color-light-green);
}
.big-btn {
    cursor: pointer;
    height: 50px;
    padding: 0 50px;
    width: fit-content;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.hero-bottom {
    display: flex;
    justify-content: space-between;
}
.big-btn:before {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    content: "";
    top: 0;
    transform: translateX(-100%);
    transition: .3s ease-out;
    z-index: -1;
}
.big-btn:hover:before {
    transform: translateX(0);
}
.big-btn:hover {
    color: var(--color-dark-blue);
    font-weight: bold;
}
.burger-icon:before{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: -10px;
    left: -1px;
}
.burger-icon:after{
    border: 1px solid white;
    height: 100%;
    width: 80%;
    content: "";
    position: absolute;
    top: 8px;
    left: -1px;
    transition: .3s ease;
}
.menu:hover .burger-icon::after {
    width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.menu span {
    margin-left: 30px;
}
.burger-icon {
    width: 28px;
    border: 1px solid white;
    height: 0;
    position: relative;
}

section.hero-section {
    /* opacity: 0; */
    width: 100%;
    min-height: calc(100vh + 100px);
    padding-top: 130px;
    position: relative;
    max-width: 100vw;
    position: relative;
}
section.hero-section::before {
    content: "";
    height: 100px;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.bg-decoration {
    height: 70%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
}

.bg-decoration::before {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    width: 200%;
    height: 100%;
    background-color: var(--color-darker-blue);
    transform: rotate(-8deg);
}

.right-decoration {
    position: absolute;
    width: 500px;
    right: 0;
    top: 33%;
    max-width: 90%;
}
.left-decoration {
    position: absolute;
    width: 600px;
    left: 0;
    bottom: 0;
    max-width: 90%;
    z-index: 2;
}
.test-section {
    height: 100vh;
    width: 100%;
    background-color: white;
}

h1 {
    font-family: "Dharma Gothic I", sans-serif;
    font-size: 82px;
    letter-spacing: 1px;
    line-height: 1.05;
    margin: 0 0 30px;
    font-style: italic;
    font-weight: bold;
    max-width: 66%;
}

.small-title {
    font-size: 14px;
    letter-spacing: 2px;
}
.light-green {
    color: var(--color-light-green);
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 15px;
}

.hero-content {
    padding: 0 25px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-video {
    z-index: 3;
    width: 790px;
    max-width: 100%;
    height: fit-content;
    cursor: pointer;
    position: relative;
}
.hero-video img {
    display: block;
    width: 100%;
}
.hero-video:after {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: var(--color-dark-blue);
    position: absolute;
    opacity: 0.25;
    transition: .2s ease;
}
.hero-video:hover::after {
    opacity: 0;
}

aside {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0;
    transform: translateX(100%);
    background-color: var(--color-dark-blue);
    z-index: 9;
    padding-top: 235px;
    transition: transform .5s ease;
}
.menu-content {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding-left: 225px;
    height: 100%;
    min-height: fit-content;
    overflow-y: auto;
    padding-bottom: 150px;
}
.menu-title {
    font-family: "Dharma Gothic I";
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 15px;
}

.big-titles {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    width: 100%;
}

.small-titles {
    border-top: 1px solid white;
    margin-top: 30px;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 40px;
    grid-gap: 20px;
    margin-bottom: 20px;
}
.contact-info {
    display: flex;
    font-size: 15px;
    line-height: 1.75;
    transition: all 1s ease;
}
.contact-info div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-right {
    gap: 15px;
}

.contact-info a {
    font-weight: bold;
    text-decoration: underline;
}
.menu-title a {
    width: 100%;
}
a.color-link:hover {
    color: var(--color-light-green);
}
a.color-link {
    transition: .2s ease;
    cursor: pointer;
}

.subtitle-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    width: 63%;
    right: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-transform: capitalize;
    grid-gap: 5%;
    align-items: center;
    row-gap: 25px;
    top: 33%;
    opacity: 0;
    transition: opacity .3s ease;
}
.subtitle-item {
    display: flex;
    align-items: center;
}
.subtitle-item div:first-of-type {
    flex-shrink: 0;
}
.separator {
    margin: 0 30px;
    flex-grow: 1;
    height: 0;
    border: 1px solid white;
}

.menu-visible {
    transform: translateX(0);
    opacity: 1;
}
.green-screen{
    height: 100vh;
    width: 200vw;
    top: 0;
    left: 0;
    transform: translate(100%);
    background-color: var(--color-light-green);
    position: relative;
    transition: .8s linear;
}
.green-screen-visible {
    transform: translateX(-100%);
}

.visible {
    opacity: 1;
}

@media screen and (max-width: 1250px) {
    .hero-video {
        width: 570px;
    } 
    .hero-content {
        max-width: 950px;
    }
    .hero-content h1{
        font-size: 70px;
        max-width: 50%;
    }
    .left-decoration {
        max-width: 450px;
    }
    .right-decoration {
        max-width: 500px;
    }
    .menu-content {
        padding: 0 20px 150px;
        max-width: 910px;
        margin: auto;
    }
    .big-titles {
        font-size: 52px;
    }
    .small-titles {
        font-size: 35px;
    }
    .contact-info {
        font-size: 14px;
    }
}
@media screen and (max-width: 950px) {
    .hero-bottom {
        flex-direction: column;
        gap: 50px;
    }
    .hero-video {
        width: 100%;
    }
    .hero-content {
        max-width: 720px;
        margin-top: 100px;
    }
    .hero-content h1{
        font-size: 70px;
        max-width: 70%;
    }
    .right-decoration, .left-decoration {
        max-width: 300px;
    }
    .menu-content {
        max-width: 100%;
    }
    .big-titles {
        font-size: 48px;
    }
    .small-titles {
        font-size: 30px;
    }
    aside {
        padding-top: 175px;
    }
    .menu-title {
        flex-direction: column;
    }
    .subtitle-container {
        position: initial;
        height: 0px;
        opacity: 1;
        width: 100%;
        font-size: 14px;
        padding: 0;
        row-gap: 30px;
        overflow: hidden;
        transition: .3s ease;
    }
    .separator {
        margin: 0 75px 0 30px;
    }
    .visible {
        height: fit-content;
        padding: 25px 0px;
    }

}

@media screen and (max-width: 750px) {
    section.hero-section {
        min-height: fit-content;
    }
    .hero-content {
        max-width: 100%;
        margin-top: 60px;
    }
    .hero-content h1 {
        max-width: 100%;
        font-size: 50px;
    }
    .right-decoration {
        max-width: 180px;
    }
    .left-decoration {
        display: none;
    }
    nav {
        height: 90px;
    }
    nav .big-btn {
        padding: 0 15px;
        height: 40px;
    }
    .small-titles {
        grid-template-columns: repeat(2, 1fr);
    }
    .subtitle-container {
        grid-template-columns: 1fr;
    }
    .subtitle-item {
        max-width: 350px;
    }
}